@{
    ViewData["Title"] = "Index";
}


<h2>Rooms</h2>

<div class="text-center">
    <h1 class="display-4">Docksides room</h1>
    <p>Docksides room and their capacity</p>

    <img src="~/img/DSroom.PNG" />
</div>