@{
    ViewData["Title"] = "Home Page";
    @*<link rel="icon" type="image/x-icon" href="~/img/weblogo_dockside.png">*@
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}


<div class="text-center">
    <h1 class="display-4">Welcome to Dockside</h1>
    <p>Dockside is a site for conference room bookning. </p>
    <img src="~/img/Docksideimg.PNG" />
</div>

