@{
    ViewData["Title"] = "Room";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}


<div class="text-center">
    <h1 class="display-4">Docksides rooms</h1>
    <p>Map of Dockside office</p>
    <img src="~/img/DSroom.PNG" />
</div>
