@{
    ViewData["Title"] = "Index";
}


<h2>Help</h2>

<div class=" text-center">
    Kontakt:<br />
    Telefon: 031-430 130 <br />
    E-post: info@docksideoffice.se<br />
    <br />
    <br />Hitta till oss:<br />
    Vår adress är Regnbågsgatan 8B och du når oss enkelt med såväl bil som med allmänna kommunikationer. Täta bussförbindelser med stadens centrum medger effektivt resande tillsammans med cityfärjan Älvsnabben/Älvsnabbare som avgår från kajen några få minuters promenad från kontorshotellet. Lindholmen erbjuder också goda parkeringsmöjligheter.<br />

    <br />Närmaste hållplats:
    Buss – Regnbågsgatan<br />
    Cityfärjan Älvsnabben/Älvsnabbare – Lindholmspiren<br />
                                                      <br /> <img src="~/img/docksidemap.PNG" /><br />
</div>