@{
    ViewData["Title"] = "Index";
}


<h2>Info</h2>

<div class=" text-center">
    <img src="~/img/Docksideofficeplats.PNG" /><br />
    <br />
    Dockside Office & Coworking är mötesplatsen där historiens vingslag möter framtidens utveckling. Längs Norra Älvstranden i de forna varvsområdena hittar du oss och Lindholmen Science Park i regionens mest expansiva område med ett stort utbud av restauranger och annan service precis runt hörnet.  Snabba och täta bussavgångar och färjeförbindelse till centrum och andra knutpunkter gör det enkelt att ta sig hit. Kommer du med bil finns besöksparkeringar utanför dörren.
    <br /> <br />
    Sedan starten 2012 har vi attraherat såväl multinationella storföretag som nystartade enmansbolag till våra trivsamma miljöer. Hos oss samlas företag och företagare från många spännande branscher och vår öppna Business Lounge bjuder in till nätverkande för nya affärsmöjligheter.
    <br /> <br />
    Hos oss hyr du en komplett kontorslösning med fiberanslutning (1000 Mbit/s), högklassiga möbler, tillgång till konferens- och mötesrum, nätverksskrivare, gemensamt lunchrum och pentry, kaffe- och vattenbar.
    <br /> <br />
    Idag är Norra Älvstranden, och i synnerhet Lindholmen, ett av Sveriges mest expansiva och intressanta nybyggnadsområden. Det maritima, men ändå citynära läget, gör tillsammans med det goda företagsklimatet Dockside Office till en spännande mötesplats och en representativ bas för ert företag.
    <br /> <br />
</div>
